@charset "UTF-8";
/* IMPORTS */
/* rgb (35, 194, 160) */
.navegador {
  background-color: white; }

.content {
  background-color: #4DAA57; }

.collapsible {
  background-color: white; }

.collapsible__icon {
  color: #47edc9; }

.navegador992px {
  background-color: white; }

.nosotros {
  background-color: white; }

.contacto {
  background-color: rgba(255, 255, 255, 0.8); }

.proyecto--main {
  background-color: #1685E5; }

.proyecto--1 {
  background-color: white; }

.proyecto--2 {
  background-color: #ffc107; }

.proyecto--3 {
  background-color: #27b092; }

footer {
  background-color: #2c3e50; }

.copyright {
  background-color: #222E3E; }

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px; }

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3.5em;
  font-weight: bolder; }

.titulo--p {
  font-size: 3em;
  font-family: "Open Sans Condensed", sans-serif; }

h2 {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3rem;
  color: white; }

.h2--nosotros {
  color: #23c29f; }

.h2--contacto {
  color: #222E3E; }

.comunidad h2 {
  color: #222E3E; }

.h2--donar {
  color: #2c3e50; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.7em;
  color: white; }

.h3--comunidad1 {
  color: #222E3E; }

.parrafo {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  color: white;
  font-size: 2em; }

.parrafo--nosotros {
  color: #23c29f;
  background-color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.7em; }

.parrafo--comunidad {
  font-size: 1.5em;
  color: #222E3E; }

.parrafo--donar {
  color: #222E3E;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  text-align: center; }

@media (min-width: 994px) {
  .comunidad h3 {
    font-size: 1.6em; }
  .parrafo--comunidad {
    font-size: 1.3em; } }

.parrafo--footer {
  font-size: 1.3em;
  margin: 0px;
  padding: 0px; }

@media (min-width: 994px) {
  .parrafo--footer {
    font-size: 1.5em; } }

.content a {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5em; }

.navegador__lista li a {
  color: #23c29f;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em; }

.navegador992px__lista li a {
  color: #23c29f;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.7em;
  transition: 0.3s; }

.parrafo--copyright {
  font-size: 1em; }

.formContacto {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
  font-weight: bold; }

.formDonar {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
  font-weight: bold; }

/* rgb (35, 194, 160) */
.navegador {
  background-color: white; }

.content {
  background-color: #4DAA57; }

.collapsible {
  background-color: white; }

.collapsible__icon {
  color: #47edc9; }

.navegador992px {
  background-color: white; }

.nosotros {
  background-color: white; }

.contacto {
  background-color: rgba(255, 255, 255, 0.8); }

.proyecto--main {
  background-color: #1685E5; }

.proyecto--1 {
  background-color: white; }

.proyecto--2 {
  background-color: #ffc107; }

.proyecto--3 {
  background-color: #27b092; }

footer {
  background-color: #2c3e50; }

.copyright {
  background-color: #222E3E; }

.nav__logo {
  width: auto;
  height: 5em;
  display: flex;
  justify-self: center; }

@media (min-width: 992px) {
  .nav__logo {
    width: auto;
    height: 85%;
    padding-top: 10px; } }

.comunidad__imagen {
  width: 90%;
  height: auto;
  padding: 20px 10px;
  border-radius: 20px; }

@media (min-width: 994px) {
  .comunidad__imagen {
    width: 60%; } }

/* TITULO DEL NAV */
.h1__animation {
  transition: 0.5s; }

.h1__animation:hover {
  color: #47edc9; }

/* LINKS DEL NAV */
.navegador992px__btns {
  transition: 0.3s; }

.navegador992px__btns:hover {
  transform: translate(5px, 5px);
  background-color: rgba(35, 194, 160, 0.8); }

.navegador992px__lista li a:hover {
  color: white; }

/* NAVEGADOR COLLAPSE PARA PANTALLAS PEQUEÑAS */
.navegador {
  height: 5rem;
  width: 100%;
  padding-top: 8px;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80% 20%;
  grid-template-areas: "brand button";
  justify-content: center;
  align-items: center;
  z-index: 10000; }

@media (min-width: 992px) {
  .navegador {
    display: none; } }

.navegador__brand {
  grid-area: brand;
  display: flex;
  flex-flow: row;
  justify-content: center; }

.collapsible {
  grid-area: button;
  width: 3.5em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center; }

.collapsible__icon {
  font-size: 2.5rem; }

li {
  padding-right: 10px; }

.content {
  position: absolute;
  top: 6.3em;
  left: 0;
  width: 100%;
  padding: 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: right;
  text-decoration: none;
  list-style: none; }

/* NAVEGADOR PARA PANTALLAS GRANDES */
.navegador992px {
  height: 13vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "brand btns";
  justify-content: center;
  align-items: center;
  z-index: 10000;
  box-shadow: 0px 1px 12px 0px; }

@media (max-width: 992px) {
  .navegador992px {
    display: none; } }

.navegador992px__brand, .navegador992px__brand a {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .navegador992px__brand a {
    padding: 0px;
    margin: 0px; }

.navegador992px__lista {
  grid-area: btns;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; }

.navegador992px__btns {
  margin-right: 12px;
  margin-left: 12px;
  padding: 0px 5px;
  border-radius: 15px;
  transition: 0.3s; }

.headerIndex {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center; }

.titulo--h1, .titulo--p {
  height: auto;
  margin-bottom: 10px;
  background-color: rgba(35, 194, 160, 0.6); }

@media (min-width: 992px) {
  .titulo {
    width: auto;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    position: absolute;
    top: 68vh;
    left: 222px;
    color: white;
    z-index: 2000; } }

.slideshow {
  padding-inline-start: 0px;
  position: relative;
  width: 100vw;
  height: 90vh;
  top: 78px;
  left: 0px;
  z-index: 0; }

.slideshow li {
  list-style: none;
  position: absolute;
  top: -88px;
  height: 100%;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
  max-width: 100vw;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 155% 36%;
  opacity: 0;
  z-index: 0;
  animation: slideshow 24s linear infinite 0s; }

.slideshow li:nth-child(1) {
  background-image: url(../assets/file_5.jpeg); }

.slideshow li:nth-child(2) {
  background-image: url(../assets/file_11.jpeg);
  animation-delay: 6s; }

.slideshow li:nth-child(3) {
  background-image: url(../assets/file_7.jpeg);
  animation-delay: 12s; }

.slideshow li:nth-child(4) {
  background-image: url(../assets/file_6.jpeg);
  animation-delay: 18s; }

@keyframes slideshow {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }

footer {
  height: 90vh;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 80%;
  grid-template-areas: "lugar1" "lugar2" "redes1" "redes2" "logo1" "logo2";
  justify-content: center;
  justify-items: center;
  padding-top: 30px; }

@media (min-width: 994px) {
  footer {
    height: 50vh;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: "lugar1 redes1 logo1" "lugar2 redes2 logo2"; } }

.footer__titulo {
  align-self: end;
  height: auto; }

.footer__texto {
  align-self: start; }

@media (min-width: 994px) {
  .footer__titulo {
    margin: 20px 20px 0px 20px; } }

.footer__titulo--lugar {
  grid-area: lugar1; }

.footer__titulo--redes {
  grid-area: redes1; }

.footer__titulo--logo {
  grid-area: logo1; }

.footer__texto--lugar {
  grid-area: lugar2; }

.footer__texto--redes {
  grid-area: redes2; }

.footer__texto--logo {
  grid-area: logo2; }

.copyright {
  text-align: center;
  width: 100%;
  height: 7vh; }

/* COMUNIDAD */
.comunidad--main {
  display: flex;
  flex-flow: column;
  align-items: center; }

.seccion__titulo--comunidad {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.icono {
  color: white;
  font-size: 2em; }

.comunidad {
  width: 90%;
  height: auto;
  box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  border-radius: 15px;
  margin: 20px;
  padding: 10px; }

.comunidad--1 a {
  display: inherit;
  flex-flow: row;
  justify-content: center; }

@media (min-width: 994px) {
  .comunidad {
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin: 0px;
    padding: 10px;
    box-shadow: 20px 0px 0px 0px rgba(0, 0, 0, 0.5), 0px 0px 20px 0 rgba(0, 0, 0, 0.5); } }

.contacto {
  padding-top: 30px; }

.formularioDeContacto {
  display: flex;
  justify-content: center;
  padding-bottom: 40px; }

.formContacto {
  width: 90%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-auto-columns: auto auto;
  grid-template-areas: "formNombre formApellido" "formEmail formTelefono" "formMotivo formMotivo" "formTextArea formTextArea" "formNews formNews" "boton boton";
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center; }

.formNombre {
  grid-area: formNombre; }

.formApellido {
  grid-area: formApellido; }

.formEmail {
  grid-area: formEmail; }

.formTelefono {
  grid-area: formTelefono; }

.formMotivo {
  grid-area: formMotivo;
  padding: 10px; }

.formTextArea {
  grid-area: formTextArea; }

.formNews {
  grid-area: formNews; }

.boton {
  grid-area: boton;
  justify-self: center;
  margin-right: 10px;
  padding-bottom: 10px; }

.boton__boton {
  border-radius: 10px;
  border: 3px solid #47edc9;
  background-color: #47edc9; }

input, select, textarea {
  border: 2px solid #47edc9;
  border-radius: 5px; }

/* FIN CONTACTO */
/* rgb (35, 194, 160) */
.navegador {
  background-color: white; }

.content {
  background-color: #4DAA57; }

.collapsible {
  background-color: white; }

.collapsible__icon {
  color: #47edc9; }

.navegador992px {
  background-color: white; }

.nosotros {
  background-color: white; }

.contacto {
  background-color: rgba(255, 255, 255, 0.8); }

.proyecto--main {
  background-color: #1685E5; }

.proyecto--1 {
  background-color: white; }

.proyecto--2 {
  background-color: #ffc107; }

.proyecto--3 {
  background-color: #27b092; }

footer {
  background-color: #2c3e50; }

.copyright {
  background-color: #222E3E; }

.donar_titulo {
  height: auto;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 20px; }

.formularioDonar {
  padding-bottom: 20px;
  display: flex;
  justify-content: center; }

.formDonar {
  width: 373px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "donarNombre donarApellido" "donarEmail donarEmail" "donarAnonimo donarAnonimo" "donarTextArea donarTextArea" "donarBotones donarBotones";
  justify-items: center;
  align-items: center;
  grid-row-gap: 10px; }

.donarNombre {
  grid-area: donarNombre; }

.donarApellido {
  grid-area: donarApellido; }

.donarEmail {
  grid-area: donarEmail; }

.donarAnonimo {
  grid-area: donarAnonimo; }

.donarTextArea {
  grid-area: donarTextArea; }

.donarBotones {
  grid-area: donarBotones; }

.botonEnviar {
  height: 30px;
  font-size: 0.8em;
  background-color: #47edc9; }

* {
  margin: 0px;
  scroll-behavior: smooth; }

body {
  max-width: 100vw;
  background-color: #2c3e50;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

/* NOSOTROS */
.nosotros {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70vw; }

.seccion__titulo {
  padding-bottom: 40px;
  left: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.h2--nosotros {
  position: relative;
  right: 163%; }

.nosotros__parrafo {
  width: 80%; }
