$white--opaco: rgba(255, 255, 255, 0.8);

$green1: #27b092;
$green2: #47edc9;
$green3: #4DAA57;
$green4: #23c29f; /* rgb (35, 194, 160) */
$green4--opaco: rgba(35, 194, 160, 0.8);

$gray: #222E3E;
$gray2: #2c3e50;

$blue: #147db5;
$blue2: #1ca4ed;
 /* #1ca4ed */ /* #1991d1 */

$yellow: #ffc107;

.navegador { background-color: white; }

.content { background-color: $green3; }

.collapsible { background-color: white; }

.collapsible__icon { color: $green2; }

.navegador992px { background-color: white; }

input { border-color: $green4; }

.nosotros { background-color: white; }

.comunidad-main { background-color: $blue; }

.contacto___titulo { background-color: $green4--opaco; }

.comunidad-grid__hashomer { background-color: white; }

.contacto { background-color: white; }

.boton__boton { background-color: $green4; }

.boton-donar { background-color: $green4; color: white; }

$comunidades: (
	main: #1685E5,
	1: white,
	2: #ffc107,
	3: #27b092,
);

@each $comunidad, $color in $comunidades {
	.proyecto--#{$comunidad}{
		background-color: $color;
	}
}

footer { background-color: $blue; }

.footer__titulo { background-color: $blue2; }

.input_newsletter {
	border-color: $gray2;
	font-size: 1.3em;
}

.input_newsletter--boton { 
	background-color: $gray2;
	border-color: $gray2;
}

.copyright { background-color: $gray; }