.nav__logo {
	width: auto;
	height: 5em;
	display: flex;
	justify-self: center;
}

@media (min-width: 992px) {
	.nav__logo {
		width: auto;
		height: 85%;
		padding-top: 10px;
	}
}

.comunidad__imagen {
	width: 90%;
	height: auto;
	padding: 20px 10px;
	border-radius: 20px;
} 

@media (min-width: 994px) {
	.comunidad__imagen {
		width: 60%;
	}
}