.nav__logo {
	width: auto;
	height: 6em;
	display: flex;
	justify-self: center;
}

@media (min-width: 992px) {
	.nav__logo {
		width: auto;
		height: 85%;
		padding-top: 10px;
	}
}

.contacto {
	background-image: url("../assets/fondo_contacto.jpg");
}

.grid-nosotros__3 {
	background-image: url("../assets/fotoRR.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.grid-nosotros__5 {
	background-image: url("../assets/logoHashomer.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90% auto;
}

.grid-nosotros__foto--1 { 
	background-image: url("../assets/file_15.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-nosotros__foto--2 { 
	background-image: url("../assets/file_16.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-nosotros__foto--3 { 
	background-image: url("../assets/file_17.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo__hashomer {
	height: auto;
	width: 35%;
	margin: 10px;
}

.logo__jotam {
	@extend .logo__hashomer;
}

.logo__meretz {
	@extend .logo__hashomer;
}

.logo__raicesUrbanas {
	@extend .logo__hashomer;
}

.comunidad__imagen {
	width: 90%;
	height: auto;
	padding: 20px 10px;
	border-radius: 20px;
} 

@media (min-width: 994px) {
	.comunidad__imagen {
		width: 60%;
	}
}