@import "colors.scss";


$kalam: 'Kalam', cursive;
$openSans: 'Open Sans Condensed', sans-serif;


a {
	text-decoration: none;
}

h1 {
	font-family: $kalam;
	font-size: 1.6rem;
	color: white;
}

.h1--smaller {
	font-size: 1rem;
}

.h1_992px {
	font-size: 2.3em;
	color: white;
	padding: 0px;
	margin: 0px;
}

.h1_992px--smaller {
	font-size: 1.5em;
	padding: 0px;
	margin: 0px;
}

h2 {
	text-align: center;
	font-family: $kalam;
	font-size: 3rem;
	color: white;
}

.h2--contacto {
	color: #222E3E;
}

.proyectos h2 {
	color: #222E3E;
}

.h2--donar {
	color: $gray2;
}

h3 {
	font-family: $kalam;
	font-size: 1.7em;
	color: white;
}

.h3--proyecto1 {
	color: #222E3E
}

.parrafo { 
	font-family: $openSans; 
	text-align: center;
	color: white;
	font-size: 2em;	
}

.parrafo--proyecto {
	font-size: 1.5em;
	color: #222E3E;	
}

.parrafo--donar {
	color: $gray;
	font-family: $openSans;
	font-size: 2em;
	text-align: center;
}

@media (min-width: 994px) {
	.proyecto h3 {
		font-size: 1.6em;
	}
	.parrafo--proyecto {
		font-size: 1.3em;
	}
}

.parrafo--separador {
	z-index: 50;
	font-size: 2.5em;
	background-color: rgba(35, 194, 160, 0.7);
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}

.parrafo--footer {
	font-size: 1.3em;
	margin: 0px;
	padding: 0px;
}

@media (min-width: 994px) {
	.parrafo--footer {
		font-size: 1.5em;
	}	
}

.content a{
	color: white;
	font-family: $openSans;
	font-size: 1.5em;
}

.navegador__lista li a{
	color: white;
	font-family: $openSans;
	font-size: 1em;
}

.navegador992px__lista li a{
	color: white;
	font-family: $openSans;
	font-size: 1.7em;
}

.parrafo--copyright {
	font-size: 1em;
}

.formContacto  {
	font-family: $openSans;
	font-size: 1.3em;
	font-weight: bold;
}

.formDonar {
	font-family: $openSans;
	font-size: 1.3em;
	font-weight: bold;
}

