@import "colors.scss";

$lato: 'Lato', sans-serif;
$openSans: 'Open Sans Condensed', sans-serif;

a {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: $openSans;
	font-size: 2.3em;
	font-weight: bolder;
	background-color: rgba(35, 194, 160, 0.6);
}

.titulo--p {
	@extend h1;
	font-size: 1.8em;
}

h2 {
	text-align: center;
	font-family: $openSans;
	font-size: 3rem;
	color: white;
}

.h2--index-nosotros {
	color: $green4;
}

.h2--contacto {
	color: $gray;
}

.comunidad h2 {
	color: $gray;
}

.h2--donar {
	color: $gray2;
}

h3 {
	font-family: $lato;
	font-size: 1.7em;
	color: white;
	margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.h3--comunidad1 {
	color: $gray;
}

.parrafo { 
	font-family: $openSans; 
	text-align: center;
	color: white;
	font-size: 2em;	
}

.parrafo--nosotros {
	color: $green4;
	background-color: white;
	font-family: $openSans;
	font-size: 1.7em;
}

.parrafo--comunidad {
	font-size: 1.5em;
	color: $gray;	
}

.parrafo--donar {
	color: $gray;
	font-family: $openSans;
	font-size: 2em;
	text-align: center;
}

.parrafo--footer {
	font-size: 1.3em;
	margin: 0px;
	padding: 0px;
}

.content a{
	color: white;
	font-family: $openSans;
	font-size: 1.5em;
}

.navegador__lista li a{
	color: $green4;
	font-family: $openSans;
	font-size: 1em;
}

.navegador992px__lista li a{
	color: $green4;
	font-family: $openSans;
	font-size: 1.7em;
	transition: 0.3s;
}

.parrafo--copyright {
	font-size: 1em;
}

.formContacto  {
	font-family: $openSans;
	font-size: 2em;
}

input {
	font-family: $lato;
	font-size: 0.6em;
}

.formDonar {
	font-family: $openSans;
	font-size: 1.3em;
	font-weight: bold;
}

.input_newsletter--boton {
	font-family: $openSans;
	font-size: 1.5em;
	color: white;
}

@media (min-width: 992px) {
	h1{
		font-size: 3.5em;
	}
	.comunidad h3 {
		font-size: 1.6em;
	}
	.parrafo--comunidad {
		font-size: 1.3em;
	}
	.parrafo--footer {
		font-size: 1.5em;
	}
	input {
		font-size: .7em;
	}
}