@import "colors.scss";

$lato: 'Lato', sans-serif;
$openSans: 'Open Sans Condensed', sans-serif;

a {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: $openSans;
	font-size: 3.5em;
	font-weight: bolder;
}

.titulo--p {
	font-size: 3em;
	font-family: $openSans;
}

h2 {
	text-align: center;
	font-family: $openSans;
	font-size: 3rem;
	color: white;
}

.h2--nosotros {
	color: $green4;
}

.h2--contacto {
	color: $gray;
}

.comunidad h2 {
	color: $gray;
}

.h2--donar {
	color: $gray2;
}

h3 {
	font-family: $lato;
	font-size: 1.7em;
	color: white;
}

.h3--comunidad1 {
	color: $gray;
}

.parrafo { 
	font-family: $openSans; 
	text-align: center;
	color: white;
	font-size: 2em;	
}

.parrafo--nosotros {
	color: $green4;
	background-color: white;
	font-family: $openSans;
	font-size: 1.7em;
}

.parrafo--comunidad {
	font-size: 1.5em;
	color: $gray;	
}

.parrafo--donar {
	color: $gray;
	font-family: $openSans;
	font-size: 2em;
	text-align: center;
}

@media (min-width: 994px) {
	.comunidad h3 {
		font-size: 1.6em;
	}
	.parrafo--comunidad {
		font-size: 1.3em;
	}
}

.parrafo--footer {
	font-size: 1.3em;
	margin: 0px;
	padding: 0px;
}

@media (min-width: 994px) {
	.parrafo--footer {
		font-size: 1.5em;
	}	
}

.content a{
	color: white;
	font-family: $openSans;
	font-size: 1.5em;
}

.navegador__lista li a{
	color: $green4;
	font-family: $openSans;
	font-size: 1em;
}

.navegador992px__lista li a{
	color: $green4;
	font-family: $openSans;
	font-size: 1.7em;
}

.parrafo--copyright {
	font-size: 1em;
}

.formContacto  {
	font-family: $openSans;
	font-size: 1.3em;
	font-weight: bold;
}

.formDonar {
	font-family: $openSans;
	font-size: 1.3em;
	font-weight: bold;
}

/*
.parrafo--separador {
	z-index: 50;
	font-size: 2.5em;
	background-color: rgba(35, 194, 160, 0.7);
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
} */

