.main-actividades {
	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.seccion__titulo--actividades{
	padding: 5px 0px;
	margin-bottom: 40px;
	width: 100%;
}

.actividades__fondo {
	height: 90vh;
	width: 100%;
}

.actividad {
	width: 90vw;
	height: auto;
	margin: 30px 0px;
	padding: 50px 20px;
	overflow: hidden;
	text-align: center;
	h3 {
		padding: 10px 0px;
	}
}

.section__foto {
	height: 250px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.section__foto--1 { background-image: url("../assets/pesaj.jpg");}
.section__foto--2 { background-image: url("../assets/roshhashana.jpeg");}
.section__foto--3 { background-image: url("../assets/iomkipur.jpg"); }
.section__foto--4 { background-image: url("../assets/rabin.jpg");}

@media (min-width: 992px) {
	.actividad {
		height: auto;
		width: 80vw;
		display: grid;
		margin: 20px 0px;
	}

	.section__foto {
		height: 300px;
		width: auto;
		background-position: center;
	}

	.section__texto {
		align-self: center;
		margin: auto 20px;
	}

	.actividad--left {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"actividades-foto actividades-texto"
			"actividades-foto actividades-texto";
	}

	.actividad--right {
		grid-template-rows: auto auto;
		grid-template-columns: 2fr 1fr;
		grid-template-areas:
			"actividades-texto actividades-foto"
			"actividades-texto actividades-foto";
	} 

	.section__foto--1 { grid-area: actividades-foto; }
	.section__texto--1 { grid-area: actividades-texto; }

	.section__foto--2 { grid-area: actividades-foto; }
	.section__texto--2 { grid-area: actividades-texto; }

	.section__foto--3 { grid-area: actividades-foto; }
	.section__texto--3 { grid-area: actividades-texto; }

	.section__foto--4 { grid-area: actividades-foto; }
	.section__texto--4 { grid-area: actividades-texto; }
}

.actividad h3 {
	color: black;
}

hr { width: 90%; }
