/* COMUNIDAD */
.comunidad-main{
	display: flex;
	flex-flow: column;
	align-items: center;
}

.seccion__titulo--comunidad{
	padding: 5px 0px;
	width: 100%;
}

.icono {
	color: white;
	font-size: 2em;
}

.comunidad-grid{
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-items: center;
	text-align: center;
	margin: 20px;
	padding: 0px;
}

.comunidad-grid__hashomer {
	max-width: 90%;
	padding: 0px 0px 15px 0px;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 30px;
	box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	div {
		height: 230px;
		width: 100%;
		padding: 0px;
		margin: 0px;
		background-image: url("../assets/file_2.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
	}	
	a {
		padding: 7px 10px;
		background-color: $blue2;
		text-decoration: none;
	}
}

.comunidad-grid__jotam {
	@extend .comunidad-grid__hashomer;
	div {
		background-image: url("../assets/file_8.jpeg");
	}
}

.comunidad-grid__meretz {
	@extend .comunidad-grid__hashomer;
	div {
		background-image: url("../assets/file_3.jpeg");
	}
}

.comunidad-grid__huerta {
	@extend .comunidad-grid__hashomer;
	div {
		background-image: url("../assets/file_10.jpeg");
	}
}

@media (min-width: 992px) {
	
	.comunidad-grid {
		width: 60vw;
		padding-bottom: 40px;
		height: auto;
		display: grid !important;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"hashomer jotam"
			"meretz huerta";
		grid-row-gap: 30px;
		a {
			justify-self: end;
		}
	}

	.comunidad-grid__hashomer {
		max-width: 75%;
		height: 480px;
		width: 300px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		div {
			height: 180px;
		}
	}

	.comunidad-grid__meretz {
		a {
			margin-top: 40px;
		}
		img {
			margin-bottom: 30px;
		}
	}
}

.comunidad-grid__hashomer { grid-area: hashomer;}

.comunidad-grid__jotam { grid-area: jotam;}

.comunidad-grid__meretz { grid-area: meretz; }

.comunidad-grid__huerta { grid-area: huerta; }