.contacto {
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.contacto___titulo {
	padding: 20px 0px;
	width: 100%;
	text-align: center;
}

.fa-envelope {
	font-size: 2.5em;
	color: white;
	margin-top: 10px;
}

.formularioDeContacto {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}

.formContacto {
	width: 90%;
	margin-top: 40px;
	display: grid;
	grid-template-rows: auto auto auto auto auto auto auto auto;
	grid-auto-columns: 100%;
	grid-template-areas: 
		"formNombre"
		"formApellido"
		"formEmail"
		"formTelefono"
		"formMotivo"
		"formTextArea"
		"formNews"
		"boton";
	grid-row-gap: 5px;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.formNombre { 
	grid-area: formNombre; 
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
}

.formApellido {
	grid-area: formApellido;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
}

.formEmail {
	grid-area: formEmail;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
}

.formTelefono {
	grid-area: formTelefono;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
}

.formMotivo {
	grid-area: formMotivo;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;

}

.formMotivo label select {
	font-size: 0.5em;
}

.formTextArea {
	grid-area: formTextArea;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
}

.formNews {
	grid-area: formNews;
}

.formNews label {
	display: flex;
	flex-flow: row;
	align-items: flex-end;
}

.boton {
	grid-area: boton;
	justify-self: center;
}

.boton__boton {
	border-radius: 10px;
	margin-top: 20px;
	height: 60px;
	width: 40vw;
	color: white;
}

input {
	height: 40px;
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;	
}

input:focus {
	background-color: rgba(35, 194, 160, 0.3);
	border-color: green;
}

.input--one-line {
	border-width: 0px 0px 2px 0px;
	border-radius: 0px;
}

.input--news {
	width: 20px;
	margin-left: 8px;
}

select {
	@extend input;
	width: 60%;
	height: 37px;
}

textarea {
	@extend input;
	height: 150px;
}

@media (min-width: 992px) {
	.formContacto {
		width: 100%;
		display: grid;
		grid-template-rows: auto auto auto auto auto auto;
		grid-auto-columns: auto auto;
		grid-template-areas: 
			"formNombre formApellido"
			"formEmail formTelefono"
			"formMotivo formMotivo"
			"formTextArea formTextArea"
			"formNews formNews"
			"boton boton";
		grid-row-gap: 10px;
		grid-column-gap: 30px;
		justify-content: center;
		align-items: center;
		justify-items: center;
	}
	.formularioDeContacto form {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 20px 20px;
		width: auto;
		border-radius: 10px;
	}
}

.datosContacto {
	width: 100%;
	margin: 40px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.datosContacto__RRSS {
	height: auto;
	width: 90%;
	padding-bottom: 15px;
	margin: 20px 0px;
	display: inherit;
	flex-direction: column;
	text-align: center;
	h3 {
		padding: 30px 0px;
	}
	div {
		margin: 13px 0px;
	}
	border-radius: 10px;
	box-shadow: 5px 5px 25px gray;
}

.datosContacto__otros {
	height: auto;
	width: 90%;
	padding-bottom: 15px;
	display: inherit;
	flex-direction: column;
	text-align: center;
	h3 {
		padding: 30px 0px;
	}
	div {
		margin: 10px 0px;
	}
	border-radius: 10px;
	box-shadow: 5px 5px 25px gray;
}

@media (min-width: 992px) {
	.datosContacto {
		flex-direction: row;
		height: 60vh;
		justify-content: space-evenly;
	}	
	.datosContacto__RRSS {
		width: 35%;
	}
	.datosContacto__otros {
		width: 35%;
	}
}

.datosContacto .fab {
	font-size: 2.5em !important;
	color: black;
}

.datosContacto .fas {
	font-size: 2.5em;
	color: black;
}