@import "../colors.scss";

.donar_titulo {
	height: auto;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: center;
}

.fa-hands-helping {
	font-size: 2.5em;
	color: $blue;
	margin-top: 10px;
}

.formularioDonar {
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

.formDonar {
	width: 90vw;
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: auto auto;
	grid-template-areas: 
		"donarNombre donarApellido"
		"donarEmail donarEmail"
		"donarAnonimo donarAnonimo"
		"donarTextArea donarTextArea"
		"donarBotones donarBotones";
	justify-items: center;
	align-items: center;
	grid-row-gap: 10px;
	grid-column-gap: 20px;	
}

.donarNombre {grid-area: donarNombre;}
.donarApellido {grid-area: donarApellido;}
.donarEmail { grid-area: donarEmail; width: 100%; }
.donarAnonimo {grid-area: donarAnonimo;}
.donarTextArea {grid-area: donarTextArea;}
.donarBotones {grid-area: donarBotones;}

.botonEnviar {
	height: 30px;
	font-size: 0.8em;
	background-color: $green2;
}

.input-donar {
	border-width: 0px 0px 2px 0px;
	border-radius: 0px;
}

.checkbox-donar {
	height: 20px;
}

.textarea-donar {
	width: 295px;
}

.boton-donar {
	border-radius: 10px;
	margin-bottom: 50px;
	height: 40px;
	width: 300px;
}

@media (min-width: 992px) {
	.formDonar {
	width: auto;
	}
}