footer {
	height: auto;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.footer__titulo {
	width: 100%;
	height: auto;
	padding: 20px      ; 
	text-align: center;
}

.footer__grid {
	width: 90%;
	display: grid;
	grid-template-rows: 1fr 1fr auto;
	grid-template-columns: 90%;
	grid-template-areas: 
		"redes"
		"contacto"
		"newsletter";
	justify-content: center;
	justify-items: center;	
}

.footer__area {
	height: auto;
	align-self: center;
}

.footer__area--redes { 
	grid-area: redes;
	width: 60%;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.footer__area--contacto { 
	grid-area: contacto; 
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-items: center;
	p {
		padding: 7px 0px;
	}
	div{
		display: flex;
		flex-flow: row;
		align-items: center;
		p {
			padding-left: 10px;
		}
	}
}

.footer__area--newsletter { 
	grid-area: newsletter; 
	display: flex;
	flex-flow: column;
	padding: 25px 0px;
	width: 80%;
}

.input_newsletter {
		height: 33px;
		width: 100%;
		margin: 5px 0px;
	}

.input_newsletter--boton {
	width: 102%;
	height: 35px;
	margin: 7px 0px;
}

.copyright {
	text-align: center;
	width: 100%;
	height: auto;
	padding: 10px 0px;
}

.fab {
	font-size: 3em;
	color: white;
	margin: 0px 10px;
}

@media (min-width: 994px) {
	
	.footer__grid {
		grid-template-rows: 1fr 2fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"redes redes"
			"contacto newsletter";
	}

	.footer__area--newsletter div {
		width: 25vw;
		display: flex;
		flex-flow: column;
		align-items: center;
		form {
			display: inherit;
			flex-flow: inherit;
			align-items: inherit;
		}
	}	

	.footer__area--redes {
		padding: 15px 0px;
	}
}

.copyright div i {
	font-size: 1.5em;
	padding-top: 5px;
}