footer {
	height: auto;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.footer__titulo {
	width: 100%;
	height: auto;
	padding: 20px 0px; 
	text-align: center;
}

.footer__grid {
	width: 90%;
	padding-top: 30px;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 90%;
	grid-template-areas:
		"contacto"
		"newsletter";
	justify-content: center;
	justify-items: center;
}

.footer__area {
	height: auto;
	align-self: center;
}

.footer__area--contacto { 
	grid-area: contacto; 
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-items: center;
	p {
		padding: 7px 0px;
	}
	div{
		display: flex;
		flex-flow: row;
		align-items: center;
		p {
			padding-left: 10px;
		}
	}
}

.fa-whatsapp {
	font-size: 0.7em;
}

.footer__area--redes {
	justify-self: center;
	padding: 20px 0px;
	font-size: 0.8em;
}

.footer__area--newsletter { 
	grid-area: newsletter; 
	display: flex;
	flex-flow: column;
	padding: 25px 0px;
	width: 80%;
}

.input_newsletter {
		height: 33px;
		width: 100%;
		margin: 5px 0px;
		border-radius: 0px;
	}

.input_newsletter--boton {
	width: 101.5%;
	height: 35px;
	margin: 7px 0px;
	border-radius: 0px;
}

.copyright {
	text-align: center;
	width: 100%;
	height: auto;
	padding: 10px 0px;
}

.fab {
	font-size: 2.2em;
	color: white;
	margin: 0px 10px;
}

@media (min-width: 994px) {
	
	.footer__grid {
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"contacto newsletter";
	}

	.footer__area--newsletter div {
		width: 25vw;
		display: flex;
		flex-flow: column;
		align-items: center;
		form {
			display: inherit;
			flex-flow: inherit;
			align-items: inherit;
		}
	}	
}

.copyright div i {
	font-size: 1.5em;
	padding-top: 5px;
}