footer {
	height: auto;
	width: 100vw;
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 80%;
	grid-template-areas: 
		"titulo"
		"redes"
		"contacto"
		"newsletter";
	justify-content: center;
	justify-items: center;	
	padding-top: 30px;
}

.footer__area1 {
	align-self: center;
	height: auto;
}

.footer__area2 {
	align-self: center;
}

.footer__area1--titulo { grid-area: titulo; }

.footer__area2--redes { grid-area: redes; }

.footer__area1--contacto { grid-area: contacto; }

.footer__area2--newsletter { 
	grid-area: newsletter; 
	display: flex;
	flex-flow: column;
	align-items: center;
}

.copyright {
	text-align: center;
	width: 100%;
	height: 7vh;
}

@media (min-width: 994px) {
	footer {
		height: 50vh;
		width: 100%;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"titulo contacto"
			"redes newsletter";
	}
	.footer__area1 {
	align-self: center;
	height: auto;
	}

	.footer__area2--newsletter div {
		width: 25vw;
		display: flex;
		flex-flow: column;
		align-items: center;
		form {
			display: inherit;
			flex-flow: inherit;
			align-items: inherit;
		}
	}
	.input_newsletter {
		height: 25px;
		width: 25vw;
		margin: 5px 0px;
	}
}