/* NAVEGADOR COLLAPSE PARA PANTALLAS PEQUEÑAS */
.navegador {
	height: 6rem;
	width: 100%;
	padding-top: 20px;
	position: sticky;
	top: 0;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 80% 20%;
	grid-template-areas:
		"brand button";
	justify-content: center;
	align-items: center;
	z-index: 10000;
}

@media (min-width: 992px) {
	.navegador{
		display: none;
	}
}

.navegador__brand {
	grid-area: brand;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.page-actual {
	text-decoration: underline;
}

.page-actual__992px {
	color: rgba(35, 194, 160, 0.5)!important;
}

.collapsible {
	grid-area: button;
	width: 3.5em;
	height: 3em;
	outline: none;
	border: none;
	border-radius: 5px;
	text-align: center;
}

.collapsible__icon {
	font-size: 2.5rem;
}

li {
	padding-right: 10px;
}

.content {
	position: absolute;
	top: 7.2em;
	left: 0;
	width: 100%;
	padding: 0px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	text-align: right;
	text-decoration: none;
	list-style: none;
}

/* NAVEGADOR PARA PANTALLAS GRANDES */	
.navegador992px {
	height: 13vh;
	width: 100%;
	position: sticky;
	top: 0;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 2fr 3fr;
	grid-template-areas:
		"brand btns";
	justify-content: center;
	align-items: center;
	z-index: 10000;
	box-shadow: 0px 0px 12px 0px;
}

@media (max-width: 992px) {
	.navegador992px {
		display: none;
	}
}

.navegador992px__brand {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	a {		
		@extend .navegador992px__brand;
		padding: 0px;
		margin: 0px;
	}
}

.navegador992px__lista {
	grid-area: btns;
	list-style-type: none;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.navegador992px__btns {
	margin-right: 12px;
	margin-left: 12px;
	padding: 0px 5px;
	border-radius: 15px;
	transition: 0.3s;
}