.nosotros {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}

.nosotros__titulo {
	height: 90vh;
	width: 100%;
	background-image: url(../assets/file_20.jpeg);
	background-size: cover;
	background-position: -200px 0px;
	background-repeat: no-repeat;
}

@media (min-width: 992px) {
	.nosotros__titulo {
	background-position: 0px -260px;
	}
}

.nosotros__contenido {
	height: auto;
	width: 80vw;
	margin: 40px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid-nosotros__1 {
	margin: 20px 0px;
}

@media (min-width: 992px) { 
	.grid-nosotros__2 {
		display: none;
	}
}

.grid-nosotros__3 { 
	height: 300px;
	width: 290px;
	border-radius: 10px;
	margin: 20px 0px;
}

.grid-nosotros__4 {
	text-align: center;
}

.grid-nosotros__5 { 
	height: 300px; 
	width: 100%;
}

.grid-nosotros__6 { 
	text-align: center;
}

@media (min-width: 992px) {
	.nosotros__contenido {
		height: auto;
		width: 80vw;
		margin-top: 40px;
		display: grid;
		grid-template-rows: auto 250px auto auto;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			"parrafo parrafo parrafo"
			"fotos fotos fotos"
			"fotoRR parrafoRR parrafoRR"
			"logoHashomer parrafoHashomer parrafoHashomer";
		grid-row-gap: 60px;
		grid-column-gap: 20px;	
	}

	.grid-nosotros__1 { 
	grid-area: parrafo;
	text-align: center;
	}

	.grid-nosotros__2 {
		grid-area: fotos;
		display: flex;
 		flex-direction: row;
		justify-content: center;
		align-content: center;
	}

	.grid-nosotros__3 { 
	grid-area: fotoRR;
	height: 280px;
	border-radius: 10px;
	justify-self: center;
	}

	.grid-nosotros__4 { 
	grid-area: parrafoRR; 
	text-align: left;
	}

	.grid-nosotros__5 { 
	grid-area: logoHashomer;
	height: 300px;
	}

	.grid-nosotros__6 { 
	grid-area: parrafoHashomer; 
	text-align: left;
	}

	.grid-nosotros__foto {
	height: 250px;
	width: 100%;
	overflow: hidden;
	}
}