@import "../colors.scss";

.nosotros {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}

.nosotros__titulo {
	height: 90vh;
	width: 100%;
	background-image: url(../assets/file_20.jpeg);
	background-size: cover;
	background-position: -200px 0px;
	background-repeat: no-repeat;
}

@media (min-width: 992px) {
	.nosotros__titulo {
	background-position: 0px -260px;
	}
}

.nosotros__contenido {
	height: auto;
	width: 80vw;
	margin: 40px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid-nosotros__1 {
	margin: 20px 0px;
}

@media (min-width: 992px) { 
	.grid-nosotros__2 {
		display: none;
	}
}

.grid-nosotros__3 { 
	height: 300px;
	width: 290px;
	border-radius: 10px;
	margin: 20px 0px;
}

.grid-nosotros__4 {
	text-align: center;
}

.grid-nosotros__5 { 
	height: 300px; 
	width: 100%;
}

.grid-nosotros__6 { 
	text-align: center;
}

@media (min-width: 992px) {
	.nosotros__contenido {
		height: auto;
		width: 80vw;
		margin-top: 40px;
		display: grid;
		grid-template-rows: auto 250px auto auto;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			"parrafo parrafo parrafo"
			"fotos fotos fotos"
			"fotoRR parrafoRR parrafoRR"
			"logoHashomer parrafoHashomer parrafoHashomer";
		grid-row-gap: 60px;
		grid-column-gap: 20px;	
	}

	.grid-nosotros__1 { 
	grid-area: parrafo;
	text-align: center;
	}

	.grid-nosotros__2 {
		grid-area: fotos;
		display: flex;
 		flex-direction: row;
		justify-content: center;
		align-content: center;
	}

	.grid-nosotros__3 { 
	grid-area: fotoRR;
	height: 280px;
	border-radius: 10px;
	justify-self: center;
	}

	.grid-nosotros__4 { 
	grid-area: parrafoRR; 
	text-align: left;
	}

	.grid-nosotros__5 { 
	grid-area: logoHashomer;
	height: 300px;
	}

	.grid-nosotros__6 { 
	grid-area: parrafoHashomer; 
	text-align: left;
	}

	.grid-nosotros__foto {
	height: 250px;
	width: 100%;
	overflow: hidden;
	}
}

/* SLIDESHOW */

.slideshow {
	background-color: green;
	width: 100%;
	height: auto;
	padding: 15px 0px;
	background-color: $blue2;
}

/* Contenedor del slideshow */
.slideshow-container {
  width: 100%;
  height: 290px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  img {
  	max-height: 290px;
  }
}

/* Botones */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Numeros (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Animacion del slideshow */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (min-width: 992px) {
	.slideshow {
		display: none;
	}
}


/* Fin del SLIDESHOW */